body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  .esquerdo {
    width: 50%;
    background-color: aqua;
  }
  .direito {
    width: 50%;
    background-color: blueviolet;
  }
}
