$cor-principal: #ff2e63;
$cor-secundaria: #252a34;

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin cor-e-texto {
  width: 50%;
  background-color: $cor-principal;

  .texto {
    margin-top: 40%;
    text-align: center;
    font-size: 150px;
    color: #eaeaea;
  }
}

body {
  @include reset();
}

.container {
  height: 100vh;
  display: flex;
  .esquerdo {
   @include cor-e-texto();
  }
  .direito {
    width: 50%;
    background-color: $cor-secundaria;

    .texto {
      margin-top: 40%;
      text-align: center;
      font-size: 150px;
      color: aqua;
    }
  }
}
